<html>
<head>
	<title>Zorgeloos Onderwijs</title>
	<link rel="stylesheet" href="style_diensten.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,500italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	
	
<div id="nav">
	<div style="margin: 0 auto; width: 1350px;">
	<div class="logo"></div>
		<h2>
			<a href="index.html">Home</a> 
			<a href="toegankelijkheid.html">Toegankelijkheid</a> 
			<a href="diensten.html">Diensten</a>
			<a href="#">Beperkingen</a> 
			<a href="#">Referenties</a>
			<a href="overzo.html">Over</a>
			<a href="nieuws.html">Nieuws</a>
		</h2>
	</div>
</div>

<div id="main-wrap2">
    <div id="overzicht-left">
    <span class="h1_paars">Artikel</span>
	    <div class="nieuwsartikel">
			<div class="image_overzicht"></div>
		<p>	
			<span class="orange">Pakkende zin.</span><br />
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</p>
		</div>
		<div class="stripe2"></div>
	    <div class="nieuwsartikel">
			<div class="image_overzicht"></div>
		<p>	
			<span class="orange">Pakkende zin.</span><br />
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</p>
		</div>
		<div class="stripe2"></div>
	    <div class="nieuwsartikel">
			<div class="image_overzicht"></div>
		<p>	
			<span class="orange">Pakkende zin.</span><br />
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</p>
		</div>
    </div>

    <div id="archief-right">
			<span class="orange">Archief</span><br />
			<ul class="archief">
				<li>24/05/2014 &nbsp;&nbsp;<a href="#">Nieuws van 2014</a></li>
				<li>24/05/2014 &nbsp;&nbsp;<a href="#">Nieuws van 2014</a></li>
				<li>24/05/2014 &nbsp;&nbsp;<a href="#">Nieuws van 2014</a></li>
				<li>24/05/2014 &nbsp;&nbsp;<a href="#">Nieuws van 2014</a></li>
			</ul>	
    </div>    
</div>

</div>
	<div id="footer"></div>
</body>
</html>