<html>
<head>
	<title>Zorgeloos Onderwijs</title>
	<link rel="stylesheet" href="style_beperkingen.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
    <script src="jquery.js"></script>
    <script src="beperkingen.js"></script>
</head>
<body>
    <div id="nav">
    <div style="margin: 0 auto; width: 1350px;">
    <div class="logo"></div>
        <h2>
            <a href="index.html">Home</a> 
            <a href="toegankelijkheid.html">Toegankelijkheid</a> 
            <a href="#">Beperkingen</a> 
            <a href="#">Diensten</a>
            <a href="#">Referenties</a>
            <a href="#">Over</a>
            <a href="#">Nieuws</a>
        </h2>
    </div>
</div>
<div id="wrapper" class="wrapper">
    <div id="content_left">
            <span class="h1">Speciaal onderwijs</span>
        <p>
            Veel schoolgebouwen in Nederland zijn niet of onvoldoende toegankelijk voor leerlingen en studenten met een (of meerdere) beperking(en). Er is bijvoorbeeld geen liftinstallatie aanwezig, waardoor leerlingen en studenten in een rolstoel niet zelfstandig op een andere verdieping kunnen komen. Of er zijn geen hulpmiddelen aanwezig voor leerlingen en studenten met een verminderde grijp- en knijpfunctie, waardoor ze niet kunnen meedoen aan bijvoorbeeld praktijklessen.
        </p>            
    </div>
    <div id="content_right">
            <p class="quote"><span style="color: #29b473;">"Zelfstandig op een andere</span> <span style="color: #f6931e;">verdieping kunnen komen"</span></p>
    </div>

<div class="content">
    <div class="effect vis">
        <div class="titel">
            <div class="tekst">Visuele beperkingen</div>
        </div>
        <div class="afbeelding"></div>
        <div class="description">
            <div class="tekst_description">
                Lorem ipsum dolor sit amet, consectetuer adipiscin elit.
                <br />
                <br />
                <p style="text-decoration: underline; padding: 0; margin: 0;">Meer informatie over slechthorendheid.</p>
                <br />
                <br />
                Aenean commodo ligula eget dolor. Aenean massa. Lorem isum dolor sit amet.
                <br />
                <br />
                <p style="text-decoration: underline; padding: 0; margin: 0;">Meer informatie over doofheid.</p>
            </div>
        </div>
    </div>
    <div class="effect aud">
        <div class="titel">
            <div class="tekst">Auditieve beperking</div>
        </div>
        <div class="afbeelding"></div>
        <div class="description">
            <div class="tekst_description">
                Lorem ipsum dolor sit amet, consectetuer adipiscin elit.
                <br />
                <br />
                <p style="text-decoration: underline; padding: 0; margin: 0;">Meer informatie over slechthorendheid.</p>
                <br />
                <br />
                Aenean commodo ligula eget dolor. Aenean massa. Lorem isum dolor sit amet.
                <br />
                <br />
                <p style="text-decoration: underline; padding: 0; margin: 0;">Meer informatie over doofheid.</p>
            </div>
        </div>
    </div>
    <div class="effect lic">
        <div class="titel">
            <div class="tekst">Lichamelijke beperking</div>
        </div>
        <div class="afbeelding"></div>
        <div class="description">
            <div class="tekst_description">
                Lorem ipsum dolor sit amet, consectetuer adipiscin elit.
                <br />
                <br />
                <p style="text-decoration: underline; padding: 0; margin: 0;">Meer informatie over slechthorendheid.</p>
                <br />
                <br />
                Aenean commodo ligula eget dolor. Aenean massa. Lorem isum dolor sit amet.
                <br />
                <br />
                <p style="text-decoration: underline; padding: 0; margin: 0;">Meer informatie over doofheid.</p>
            </div>
        </div>
    </div>
    <div class="effect ove">
        <div class="titel">
            <div class="tekst">Overig</div>
        </div>
        <div class="afbeelding"></div>
        <div class="description">
            <div class="tekst_description">
                Lorem ipsum dolor sit amet, consectetuer adipiscin elit.
                <br />
                <br />
                <p style="text-decoration: underline; padding: 0; margin: 0;">Meer informatie over slechthorendheid.</p>
                <br />
                <br />
                Aenean commodo ligula eget dolor. Aenean massa. Lorem isum dolor sit amet.
                <br />
                <br />
                <p style="text-decoration: underline; padding: 0; margin: 0;">Meer informatie over doofheid.</p>
            </div>
        </div>
    </div>       
</div>
</div>
<div id="footer"></div>
</body>
</html>