<html>
<head>
	<title>Zorgeloos Onderwijs</title>
	<link rel="stylesheet" href="style_diensten.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,500italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	
	
<div id="nav">
	<div style="margin: 0 auto; width: 1350px;">
	<div class="logo"></div>
		<h2>
			<a href="index.html">Home</a> 
			<a href="toegankelijkheid.html">Toegankelijkheid</a> 
			<a href="diensten.html">Diensten</a>
			<a href="#">Beperkingen</a> 
			<a href="#">Referenties</a>
			<a href="overzo.html">Over</a>
			<a href="#">Nieuws</a>
		</h2>
	</div>
</div>

<div id="main-wrap">
    <div id="content-right">
			<span class="h1_groen">Quickscan</span><br />
		<p>
			Snel een indicatie krijgen of een schoolgebouw en/of -plein toegankelijk is voor leerlingen en studenten met een beperking?
		</p>
			<div id="btn"><a href="#"></a></div>
			<div id="image"></div>

    </div>
    <div id="content-left">
	    	<span class="h1_paars">Diensten</span><br />
		<p>	
			ZO kan u op verschillende manieren van dienst zijn bij het verbeteren van de toegankelijkheid van schoolgebouwen en -pleinen. <br />
			Een overzicht van de diensten van ZO:
		</p>
		<p>
			<span class="orange">Toegankelijkheidscheck</span><br />
			Schakel voor een uitgebreide analyse van de toegankelijkheid van een schoolgebouw en/of -plein de adviseurs van ZO in. Wij lopen het gebouw en plein volledig na en brengen alle mogelijke belemmeringen voor leerlingen en studenten met een beperking in kaart. 
		</p>
		<p>
			<span class="green">Plan van aanpak</span><br />
			Op basis van de toegankelijkheidscheck kunnen wij een plan van aanpak opstellen om eventuele belemmeringen weg te nemen. Het verbeteren van de toegankelijkheid hoeft overigens niet altijd tot ingrijpende en kostbare verbouwingen te leiden. ZO zoekt vooral naar praktische oplossingen en streeft daarbij evengoed naar maatwerk. 
		</p>
		<p>
			<span class="purple">Projectmanagement</span><br />
			Het uitvoeren van de maatregelen uit het plan van aanpak kan een lastige klus zijn. ZO heeft de kennis en ervaring in huis om dergelijke projecten succesvol te begeleiden. Onze adviseurs zijn ook in te huren als projectmanager.
		</p>
		<p>
			<span class="orange">Keurmerk</span><br />
			Schoolgebouwen - en pleinen die door ZO toegankelijk zijn bevonden voor leerlingen en studenten met een beperking, krijgen een speciaal icoon. Het gaat hier om (een set van) iconen, te gebruiken in bijvoorbeeld de onderwijsgids. Zo kunnen leerlingen en studenten met een beperking en hun ouders/verzorgers in een oogopslag zien welke school voor hen toegankelijk is.
	    </p>
    </div>
</div>

</div>
	<div id="footer"></div>
</body>
</html>