<html>
<head>
	<title>Zorgeloos Onderwijs</title>
	<link rel="stylesheet" href="style_diensten.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,500italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	
	
<div id="nav">
	<div style="margin: 0 auto; width: 1350px;">
	<div class="logo"></div>
		<h2>
			<a href="index.html">Home</a> 
			<a href="toegankelijkheid.html">Toegankelijkheid</a> 
			<a href="diensten.html">Diensten</a>
			<a href="#">Beperkingen</a> 
			<a href="#">Referenties</a>
			<a href="overzo.html">Over</a>
			<a href="nieuws.html">Nieuws</a>
		</h2>
	</div>
</div>

<div id="main-wrap2">
    <div id="artikel-left">
	    	<span class="h1_paars">Artikel</span><br />
		<p>
			<span class="orange">Pakkende zin.</span><br />
			<div id="image_artikel"></div>
		</p>
		<p>	
			Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.
		</p>
		<p>
			In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim. Aliquam lorem ante, dapibus in, viverra quis, feugiat a, tellus. Phasellus viverra nulla ut metus varius laoreet. Quisque rutrum. Aenean imperdiet. Etiam ultricies nisi vel augue. Curabitur ullamcorper ultricies nisi. Nam eget dui.
		</p>
    </div>

    <div id="archief-right">
			<span class="orange">Archief</span><br />
			<ul class="archief">
				<li>24/05/2014 &nbsp;&nbsp;<a href="#">Nieuws van 2014</a></li>
				<li>24/05/2014 &nbsp;&nbsp;<a href="#">Nieuws van 2014</a></li>
				<li>24/05/2014 &nbsp;&nbsp;<a href="#">Nieuws van 2014</a></li>
				<li>24/05/2014 &nbsp;&nbsp;<a href="#">Nieuws van 2014</a></li>
			</ul>	
    </div>    
</div>

</div>
	<div id="footer"></div>
</body>
</html>