<html>
<head>
<title>Zorgeloos Onderwijs</title>
<link rel="stylesheet" href="style_diensten.css" type="text/css" />
<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,500italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>


<div id="nav">
<div style="margin: 0 auto; width: 1350px;">
<div class="logo"></div>
<h2>
<a href="index.html">Home</a>
<a href="toegankelijkheid.html">Toegankelijkheid</a>
<a href="diensten.html">Diensten</a>
<a href="#">Beperkingen</a>
<a href="#">Referenties</a>
<a href="overzo.html">Over</a>
<a href="#">Nieuws</a>
</h2>
</div>
</div>

<div id="main-wrap">
   <div id="content-right">
<div id="image_zo"></div>
   </div>
   <div id="content-left">
    <span class="h1_paars">Over ZO</span><br />
<p>
<span class="orange">Onafhankelijk</span><br />
Leerlingen en studenten met een beperking moeten zorgeloos aan het onderwijs kunnen deelnemen. Dat kan alleen als het onderwijs volledig toegankelijk en veilig voor hen is. ZO kan hierbij helpen: met gedegen onderzoek, onafhankelijk advies en projectmanagement.
</p>
<p>
<span class="green">Missie en visie</span><br />
ZO streeft naar een passende leeromgeving voor iedereen. Volledige toegankelijkheid is in onze visie een essenti&euml;le voorwaarde voor kwalitatief hoogstaand onderwijs. Daarnaast heeft ZO zich tot doel gesteld om het onderwijsveld bewust te maken van de lichamelijke beperkingen waarmee leerlingen en studenten te maken kunnen hebben. Een beter begrip leidt tot maatwerk voor leerlingen en studenten met een beperking.
</p>
<p>
<span class="purple">Specialisten</span><br />
ZO heeft specialisten in huis op het gebied van toegankelijkheid en onderwijs. Daarnaast beschikt ZO over een breed netwerk van deskundigen op de diverse aandachtsgebieden.
   </p>
   </div>
   <div class="stripe">&nbsp;</div>    
   <div id="wie-left">
    <span class="h1_paars">Wie werken er</span><br />
   <div class="wie_img"></div>
<p>
<span class="orange">Henk Bleyendaal</span><br />
Was jarenlang projectmanager bij de NUSO, de landelijke organisatie voor het speeltuinwerk. Daar legde hij zich voornamelijk toe op het cre&euml;ren van toegankelijke, uitdagende en veilige speelvoorzieningen voor kinderen met een beperking. Heeft zich de laatste jaren gespecialiseerd in de toegankelijkheid en gebruiksvriendelijkheid van openbare gebouwen en -speelpleinen.
   </p>
   <div class="wie_img"></div>
<p>
<span class="green">Dick Spee</span><br />
Was jarenlang projectmanager bij de NUSO, de landelijke organisatie voor het speeltuinwerk. Daar legde hij zich voornamelijk toe op het cre&euml;ren van toegankelijke, uitdagende en veilige speelvoorzieningen voor kinderen met een beperking. Heeft zich de laatste jaren gespecialiseerd in de toegankelijkheid en gebruiksvriendelijkheid van openbare gebouwen en -speelpleinen.
   </p>
</div>
<div id="wie-right">
   <div class="wie_img"></div>
<p>
<span class="purple">Henk Spee</span><br />
Was jarenlang projectmanager bij de NUSO, de landelijke organisatie voor het speeltuinwerk. Daar legde hij zich voornamelijk toe op het cre&euml;ren van toegankelijke, uitdagende en veilige speelvoorzieningen voor kinderen met een beperking. Heeft zich de laatste jaren gespecialiseerd in de toegankelijkheid en gebruiksvriendelijkheid van openbare gebouwen en -speelpleinen.
   </p>
</div>
</div>
<div id="footer"></div>
</body>
</html>