<html>
<head>
	<title>Zorgeloos Onderwijs</title>
	<link rel="stylesheet" href="style_referenties.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400' rel='stylesheet' type='text/css'>
</head>
<body>
        <div id="nav">
    <div style="margin: 0 auto;
    width: 1350px;">
    <div class="logo"></div>
        <h2>
            <a href="#">Home</a> 
            <a href="toegankelijkheid.html">Toegankelijkheid</a> 
            <a href="#">Beperkingen</a> 
            <a href="#">Diensten</a>
            <a href="#">Referenties</a>
            <a href="#">Over</a>
            <a href="#">Nieuws</a>
        </h2>
    </div>
    </div>
    <div id="fullpage">
    <!-- Voeg content toe -->
        <div id="fullpage"></div>
        <div class="nieuws">
        <div class="headline">Referenties</div>
        <div class="nieuwsblok1">
            <span class="titel">Ds.D.A.v.d. Boschschool</span><br / ><br />
            <p class="italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id metus non quam facilisis laoreet sed a risus. Proin dapibus neque non leo euismod, luctus imperdiet leo iaculis. Pellentesque gravida posuere sapien, nec lobortis massa tristique at."</p>
            <br />
            <p class="bold">Beoordeling:</p><div class="rating"><img src="images/star_full.png"><img src="images/star_half.png"><img src="images/star_empty.png"></div>
            <br />
            <br />
            <hr class="stripe" />
        </div>
        <div class="nieuwsblok2">
             <span class="titel">Montessori Scholengemeenschap Amsterdam</span><br / ><br />
            <p class="italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id metus non quam facilisis laoreet sed a risus. Proin dapibus neque non leo euismod, luctus imperdiet leo iaculis. Pellentesque gravida posuere sapien, nec lobortis massa tristique at."</p>
            <br />
            <p class="bold">Beoordeling:</p><div class="rating"><img src="images/star_full.png"><img src="images/star_half.png"><img src="images/star_empty.png"></div>
            <br />
            <br />
            <hr class="stripe" />
        </div>
        <div class="nieuwsblok3">
            <span class="titel">Ds.D.A.v.d. Boschschool</span><br / ><br />
            <p class="italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id metus non quam facilisis laoreet sed a risus. Proin dapibus neque non leo euismod, luctus imperdiet leo iaculis. Pellentesque gravida posuere sapien, nec lobortis massa tristique at."</p>
            <br />
            <p class="bold">Beoordeling:</p><div class="rating"><img src="images/star_full.png"><img src="images/star_half.png"><img src="images/star_empty.png"></div>
            <br />
            <br />
            <hr class="stripe" />
        </div>
    </div>
    <div class="nieuws">
        <div class="nieuwsblok1">
            <span class="titel">Ds.D.A.v.d. Boschschool</span><br / ><br />
            <p class="italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id metus non quam facilisis laoreet sed a risus. Proin dapibus neque non leo euismod, luctus imperdiet leo iaculis. Pellentesque gravida posuere sapien, nec lobortis massa tristique at."</p>
            <br />
            <p class="bold">Beoordeling:</p><div class="rating"><img src="images/star_full.png"><img src="images/star_half.png"><img src="images/star_empty.png"></div>
        </div>
        <div class="nieuwsblok2">
             <span class="titel">Ds.D.A.v.d. Boschschool</span><br / ><br />
            <p class="italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id metus non quam facilisis laoreet sed a risus. Proin dapibus neque non leo euismod, luctus imperdiet leo iaculis. Pellentesque gravida posuere sapien, nec lobortis massa tristique at."</p>
            <br />
            <p class="bold">Beoordeling:</p><div class="rating"><img src="images/star_full.png"><img src="images/star_half.png"><img src="images/star_empty.png"></div>
        </div>
        <div class="nieuwsblok3">
            <span class="titel">Ds.D.A.v.d. Boschschool</span><br / ><br />
            <p class="italic">"Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce id metus non quam facilisis laoreet sed a risus. Proin dapibus neque non leo euismod, luctus imperdiet leo iaculis. Pellentesque gravida posuere sapien, nec lobortis massa tristique at."</p>
            <br />
            <p class="bold">Beoordeling:</p><div class="rating"><img src="images/star_full.png"><img src="images/star_half.png"><img src="images/star_empty.png"></div>
        </div>
    </div>
    
    <div id="footer"></div>
</div>