/*Vaste css*/

body {
margin:0;
padding:0;
font-family: 'Ubuntu', 'sans-serif';
}


#nav{
width: 100%;
height: 138px;
background-color: white;
/* padding: 60px 20px 0 619.5px; */
z-index: 1000;
position: fixed;
box-shadow: 0px 0px 20px #000000;
}

#nav a{
padding: 9px 0 0 0%;
color: black;
text-decoration: none;
}
#nav a:hover{
color: #9e1f63;
}

.logo{
width: 350px;
height: 130px;
background-image: url('images/logo.png');
background-position: right;
float: left;
position: relative;
z-index: 1100;
background-repeat: no-repeat;
}

h2{
color: black;
margin: 0;
padding: 0;
word-spacing: 50px;
font-size: 14pt;
font-weight: 300;
position: relative;
z-index: 1100;
padding: 59px 0 0 400px;
}

#footer{
width: 100%;
height: 200px;
margin-top: 50px;
box-shadow: 0px 0px 20px #000000;
float: left;
position: relative;
}


#wrapper{
width: 100%;
height: 800px;
background-color: blue;
}

.nieuws{
width: 74.3%;
height: 50%;
margin: 0 auto;

}
.nieuwsblok1{
font-size: 12px;
height: 79%;
width: 28.2%;
float: left;
padding: 20px 50px 20px 0;
}

.nieuwsblok2{
font-size: 12px;
height: 79%;
width: 28.2%;
float: left;
padding: 20px 50px 20px 50px;

}

.nieuwsblok3{
font-size: 12px;
height: 79%;
width: 29.2%;
float: left;
padding: 20px 0 20px 50px;
}

#fullpage{
background-size:cover;
background-position:center;
max-width: 100%;
height: 290px;
background-image: url('images/referenties.png');
background-repeat: no-repeat;
position: static;
padding-top: 130px;
}

.titel{

font-family: 'Ubuntu', 'sans-serif';
font-size: 16px;
color: #f6921e;
font-weight: bold;
}

.headline{
font-family: 'Ubuntu', 'sans-serif';
font-size: 35px;
color: #9e1f63;
font-weight: bold;
width: 100%;
padding-top: 4%;
}

p.italic {
padding: 0;
margin: 0;
font-style:italic;
}

p.bold {
padding: 0;
margin: 0;
font-weight: bold;
float: left;
}

.rating{
float: left;
padding-left: 5px;
}

hr.stripe{
border: 0;
   height: 0;
   border-top: 1px solid rgba(0, 0, 0, 0.1);
   border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}