<html>
<head>
	<title>Zorgeloos Onderwijs</title>
	<link rel="stylesheet" href="style_toegang.css" type="text/css" />
	<link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,500italic,700italic' rel='stylesheet' type='text/css'>
</head>
<body>
	
	
	<div id="nav">
	<div style="margin: 0 auto; width: 1350px;">
	<div class="logo"></div>
		<h2>
			<a href="index.html">Home</a> 
			<a href="toegankelijkheid.html">Toegankelijkheid</a> 
			<a href="#">Beperkingen</a> 
			<a href="diensten.html">Diensten</a>
			<a href="#">Referenties</a>
			<a href="#">Over</a>
			<a href="#">Nieuws</a>
		</h2>
	</div>
</div>
<div id="main-wrap">
	<div id="content-left">
			<span class="h1">Toegankelijkheid</span><br />
		<p>
			Veel schoolgebouwen in Nederland zijn niet of onvoldoende toegankelijk voor leerlingen en studenten met een (of meerdere) beperking(en). Er is bijvoorbeeld geen liftinstallatie aanwezig, waardoor leerlingen en studenten in een rolstoel niet zelfstandig op een andere verdieping kunnen komen. Of er zijn geen hulpmiddelen aanwezig voor leerlingen en studenten met een verminderde grijp- en knijpfunctie, waardoor ze niet kunnen meedoen aan bijvoorbeeld praktijklessen.
		</p>			
		<p>
			<span class="purple">Beperkingen</span><br />
			Leerlingen en studenten kunnen echter te maken hebben met lichamelijke beperkingen waarvan het onderwijs zich niet (goed) bewust is. Denk bijvoorbeeld eens aan gehoorschade bij kinderen en jongeren. Dat kan de toegang tot het onderwijs ernstig belemmeren. ZO wil het onderwijsveld bewust maken van de niet direct zichtbare <a href="#">beperkingen</a> waarmee leerlingen en studenten te maken kunnen hebben.
		</p>
		<p>
			<span class="orange">Inzichtelijk</span><br />
			Leerlingen en studenten met een beperking en hun ouders/verzorgers moeten vaak lang zoeken voordat zij een school hebben gevonden die voor hen toegankelijk is. ZO kan hen daarbij helpen: door inzichtelijk te maken welke scholen voldoen aan de eisen op dit gebied. Lees meer hierover op de pagina <a href="#">diensten</a>.
		</p>
		<p>
			<span class="green">Wet- en regelgeving</span><br />
			Onderwijsinstellingen in Nederland zijn wettelijk verplicht om toegang te bieden aan leerlingen en studenten met een (of meerdere) beperking(en). Lees meer hierover op de pagina <a href="#">wet- en regelgeving</a>.
		</p>
	</div>
	<div id="content-right">
			<p class="quote"><span style="color: #29b473;">"Zelfstandig op een andere</span> <span style="color: #f6931e;">verdieping kunnen komen"</span></p>
		<div class="img_r"></div>
	</div>
</div>
	<div id="footer"></div>
</body>
</html>